@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

*, *::after, 
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    column-gap: 32px;
}

.navbar-logo img  {
    width: 80px;
}

.navbar-link {
    display: flex;
    justify-content: center;
    column-gap: 34px;
    list-style-type: none;
    color: #005A9C;
}

.navbar-link-item a {
    font-weight: 500;
    transition: .5s ease;
    color: #005A9C;
}

.navbar-link-item:hover a{
    color: #FBCEB1;
}

.navbar-social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 24px;
    list-style-type: none;
}

.navbar-social-media-item svg{
    width: 24px;
    height: 24px;
    fill: #005A9C;
    transition: .5s ease;
}

.navbar-social-media-item a {
    font-weight: 500;
    transition: .5s ease;
    color: #005A9C;
}

.navbar-social-media-item.hamburger {
    display: none;
}

.navbar-social-media-item:hover svg,
.navbar-social-media-item:hover a{
    color: #FBCEB1;
    fill: #FBCEB1;
}


#home {
    position: relative;
    height: 100vh;
    background: url('../assets/55555.jpg') no-repeat;
    background-size: cover;
    background-position: 0 -200px;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .4);
}

.home {
    padding-top: calc(20%);
    max-width: 760px;
    margin-bottom: calc(10%)
}

.home h1 {
    position: relative;
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    z-index: 10;
}

.home p {
    position: relative;
    font-size: 16px;
    margin-bottom: 50px;
    color: #fff;
    z-index: 10;
}

.home a {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #cc9c32;
    cursor: pointer;
    z-index: 10;
}

.home-angle {
    position: absolute;
    display: block;
    bottom: 20px;
    left: calc(50% - 24px);
    text-align: center;
}

.home-angle svg {
    position: relative;
    width: 48px;
    height: 48px;
    fill: #fff;
    z-index: 100;
    cursor: pointer;
    animation: moveAngle 1.2s ease-in-out infinite;
}

@keyframes moveAngle {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

#about-us {
    padding-top: 100px;
}

.about-us {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 40px;
    align-items: center;
}

.about-us-title {
    font-size: 42px;
    margin-bottom: 24px;
}

.about-us-img img{
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: 0 0;
}

.about-us-info p {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 24px;
}

#our-team {
    padding-top: 120px;
    padding-bottom: 80px;
}

.our-team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.our-team-title {
    font-size: 42px;
    margin-bottom: 24px;
}

.our-team-card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.our-team-card-img {
    position: relative;
}

.our-team-card-img img {
    width: 100%;
    height: 100%;
    max-height: 380px;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 8px 8px 0 0;
}

.our-team-card-img-info {
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: #fff;
}

.our-team-card-img-info p {
    font-size: 26px;
    margin-bottom: 4px;
}

.our-team-card-img-info span {
    display: block;
    font-size: 20px;
    color: grey;
}

.our-team-card-info {
    padding: 16px;
}

footer {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #005A9C;
}

.footer-title h1, 
.footer-title p {
    font-size: 48px;
    color: #fff;
}

.footer-title p {
    text-decoration: underline;
    margin-bottom: 48px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    margin-bottom: 64px;
}

.footer-info p {
    font-size: 20px;
    margin-bottom: 8px;
    color: #fff;
}

.footer-info span {
    display: block;
    max-width: 380px;
    font-size: 16px;
    color: #fff;
}

.footer-social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 48px;
    list-style-type: none;
}

.footer-social-media-item a {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #fff;
}

.footer-social-media-item p {
    transition: .5s;
    font-weight: 600;
}

.footer-social-media-item svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: .5s;
}

.footer-social-media-item:hover p,
.footer-social-media-item:hover svg {
    color: #FBCEB1;
    fill: #FBCEB1;
}

.footer-credits {
    font-size: 16px;
    color: #fff;
    text-align: center;
}

/* Responsive */
@media (max-width: 1300px) {
    #home {
        background-position: 0 0;
    }
    .home {
        margin-bottom: 6%;
    }
}
@media (max-width: 1100px) {
    .home {
        margin-bottom: 10%;
    }
}
@media (max-width: 1000px) {
    #home {
        background-position: center 0;
    }
    .home {
        padding-top: calc(30%);
    }
    .about-us {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
}

@media (max-width: 920px) {
    .navbar {
        grid-template-columns: 1fr 1fr;
    }
    .navbar-link {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        transition: 0.5s ease-in-out;
    }
    .navbar-link-item {
        width: 100%;
        text-align: center;
    }
    .navbar-link-item a {
        display: block;
        width: 100%;
        padding: 20px 0;
    }
    .navbar-link-item:hover:not(.close) {
        background-color: #FBCEB1;
    }
    .navbar-link-item:hover a {
        color: #005A9C;
    }
    .navbar-social-media-item.phone-number {
        display: none;
    }
    .navbar-link-item.close {
        display: block;
        position: absolute;
        top: 5px;
        right: 20px;
        width: 24px;
        height: 24px;
    }
    .close {
        fill: #005A9C;
    }
    .navbar-social-media-item.hamburger {
        display: block;
        cursor: pointer;
    }
    .our-team {
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    .footer-social-media {
        justify-content: flex-start;
    }
}
@media (max-width: 768px) {
    .home {
        padding-top: calc(40% + 80px);
    }   
    .home h1 {
        font-size: 32px;
    }
    .home p {
        font-size: 16px;
        margin-bottom: 32px;
    }
    .our-team-card-img-info {
        left: 16px;
        bottom: 16px;
    }
    .our-team-card-img-info p{
        font-size: 24px;
    }
    .our-team-card-img-info span {
        font-size: 16px;
    }
    .our-team-card-info {
        padding: 14px;
    }
    .our-team-card-info p {
        font-size: 16px;
    }
}

@media (max-width: 567px) {
    .home {
        padding-top: calc(60%); 
    }
    .about-us-info p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    #our-team {
        padding-top: 50px;
    }
    .our-team {
        grid-template-columns: 1fr;
    }
    .footer-title h1,
    .footer-title p {
        font-size: 32px;
        text-align: center;
    }
    .footer-info {
        display: none;
    }
    .footer-social-media {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 24px;
    }
}